.kpi-card {
  border: 1px solid #d1d5db;
  border-radius: 12px;
  padding: 20px;
  width: 220px;

  background-color: white;
}

.kpi-card:hover {
  transform: translateY(-3px);
}

.kpi-title {
  font-size: 14px;
  font-weight: 600;
  color: rgb(43, 43, 43);
  margin: 20px 0;
}

.kpi-value {
  font-size: 42px;
  font-weight: 650;
  color: rgb(77, 77, 77);
  margin: 20px 0;
}

.kpi-gap {
  color: #dc2626;
  font-weight: 600;
}

.kpi-card p {
  margin-top: 8px;
}